.maintitle, #projectsTop ul li:nth-child(even) p, #projectsTop ul li:nth-child(even) h2, #contact .title {
  line-height: 1;
  font-family: "Archivo Black", sans-serif;
  color: #FFF;
  font-size: 2.5em; }

.desc, .desc2, #projectList div p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify !important;
  color: #FFF;
  line-height: 1.5; }

.subtitle, .feature, .skill, #projectList div h2, #moreText h1, #moreText p {
  font-family: "Laila", serif;
  color: #ff7142;
  font-weight: 600;
  font-size: 1.5em; }

#navbar ul li:first-child:hover, #navbar ul li:nth-child(2):hover, #navbar ul li:nth-child(3):hover {
  text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000; }

#logo, #navbar, #networks {
  z-index: 3;
  position: fixed; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

#logo {
  top: 35px;
  left: 50px;
  width: 75px;
  height: 75px;
  background: url(/Portfolio/img/logoIdle.png);
  background-size: 100%;
  opacity: 0.5;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #logo:hover {
    background: url(/Portfolio/img/logoActive.png);
    width: 75px;
    height: 75px;
    background-size: 100%;
    opacity: 1; }

#navbar {
  right: 1em;
  top: 35px; }
  #navbar ul li {
    display: inline;
    padding-right: 3em;
    font-family: "Shadows Into Light Two", cursive;
    color: #a1a1a1;
    font-size: 1.4em;
    letter-spacing: 1.25px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }
    #navbar ul li span {
      color: #a1a1a1;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s; }
    #navbar ul li:first-child:hover {
      color: #fff; }
      #navbar ul li:first-child:hover span {
        color: #6cc8f2; }
    #navbar ul li:nth-child(2):hover {
      color: #fff; }
      #navbar ul li:nth-child(2):hover span {
        color: #c12f2f; }
    #navbar ul li:nth-child(3):hover {
      color: #fff; }
      #navbar ul li:nth-child(3):hover span {
        color: #7d62c4; }

#networks {
  mix-blend-mode: difference;
  right: 3em;
  bottom: 35px; }
  #networks ul {
    list-style-type: none;
    text-align: center;
    color: #fff;
    font-size: 1.8em; }
  #networks li {
    padding-bottom: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    #networks li:nth-child(4n+1) {
      font-size: 1.9em;
      cursor: default; }
    #networks li:nth-child(2):hover {
      color: #15B376; }
    #networks li:nth-child(3):hover {
      color: #FF8549; }
    #networks li:nth-child(4):hover {
      color: #BEBFBD; }

.contactbtn button {
  width: 140px;
  background-color: #251730;
  border: none;
  border-radius: 3em;
  font-family: "Source Sans Pro", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  .contactbtn button:hover {
    font-weight: 600; }
    .contactbtn button:hover span {
      display: inline-block;
      -webkit-animation: 0.4s 3 spin;
      animation: 0.4s 3 spin;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #E6EBF1;
  font-size: 1.1vw; }

a {
  text-decoration: none;
  color: unset; }

.wrapper {
  position: relative; }

.sectionName {
  position: absolute;
  left: 7vw;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  font-family: "Shadows Into Light Two", cursive;
  font-size: 2.3em;
  letter-spacing: 3px; }

#about .wrapper {
  background: url(/Portfolio/img/Background@3x.png) no-repeat top;
  background-size: 100%;
  z-index: 1; }
  #about .wrapper .sectionName {
    color: #70d8ff;
    top: 120px; }

.grid-about {
  display: -ms-grid;
  display: grid;
  width: 70vw;
  margin: auto;
  grid-template-areas: 'title title title avatar ' 'subtitle subtitle subtitle avatar' 'description description description avatar' 'feature feature feature avatar' 'description2 description2 description2 avatar' 'button button button avatar';
  padding: 13vw 0 15vw 0;
  grid-column-gap: 3.1em; }

.avatar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 7;
  grid-area: avatar; }
  .avatar img {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    width: 242px;
    height: 242px;
    -webkit-transition: -webkit-box-shadow 0.8s;
    transition: -webkit-box-shadow 0.8s;
    -o-transition: box-shadow 0.8s;
    transition: box-shadow 0.8s;
    transition: box-shadow 0.8s, -webkit-box-shadow 0.8s; }
    .avatar img:hover {
      -webkit-box-shadow: 0 0 0 20pt rgba(230, 235, 241, 0.2);
      box-shadow: 0 0 0 20pt rgba(230, 235, 241, 0.2); }

.maintitle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  font-size: 3.5em;
  width: 100%;
  grid-area: title; }

#grid-projectsText > .maintitle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1; }
  .maintitle span {
    color: #ff7142; }

.subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: subtitle;
  margin-top: -1vh; }

.desc {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: description;
  margin: 40px 20px 0px 0px;
  font-size: 1.15em; }

#grid-projectsText > .desc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1; }

.desc2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: description2;
  font-size: 1.15em;
  margin-left: 10px; }

.feature {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: feature;
  display: block; }
  .feature ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .feature ul li {
      display: inline;
      list-style-type: none; }

.contactbtn {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: button;
  margin-left: 10px; }

#projects {
  margin-top: -120px; }
  #projects .wrapper {
    background-size: 100%;
    padding-top: 40px;
    background: #251730; }
  #projects .sectionName {
    top: 200px;
    color: #da6e77; }
  #projects .desc {
    font-size: 1.4em; }
    #projects .desc:first-letter {
      color: #c12f2f;
      float: left;
      font-family: Georgia;
      font-size: 3em;
      line-height: 0.9em;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px; }

#grid-projectsText {
  display: -ms-grid;
  display: grid;
  width: 65%;
  margin: auto;
  grid-template-areas: 'title skills' 'description list';
  padding: 13vw 15vw 10vw 15vw;
  grid-column-gap: 8em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.skill {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: skills;
  font-size: 1.8em; }

.skillList {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: list;
  font-family: laila;
  font-size: 1.2em;
  font-weight: 600;
  color: #FFF; }
  .skillList li {
    padding-bottom: 10px; }

#projectsTop {
  padding-bottom: 20px; }
  #projectsTop ul li {
    position: relative;
    height: 35vh;
    background-color: rgba(124, 115, 130, 0.51);
    margin-bottom: 10px; }
    #projectsTop ul li:nth-child(odd) p {
      position: absolute;
      font-family: "Archivo Black", sans-serif;
      color: #fff;
      font-size: 16px;
      margin: 0;
      left: 42%;
      top: 12%; }
    #projectsTop ul li:nth-child(odd) h1 {
      position: absolute;
      font-family: "Kalam", cursive;
      color: #fff;
      font-size: 49px;
      margin: 0;
      left: 45%;
      top: 20%; }
    #projectsTop ul li:nth-child(odd) h2 {
      position: absolute;
      font-family: "Archivo Black", sans-serif;
      color: #251730;
      font-size: 42px;
      right: 1%;
      bottom: 4%;
      margin: 0; }
    #projectsTop ul li:nth-child(odd) img {
      width: 22%;
      position: absolute;
      top: 5%;
      right: 60%; }
    #projectsTop ul li:nth-child(3) img {
      width: 19%;
      position: absolute;
      top: -17%;
      right: 57%; }
    #projectsTop ul li:nth-child(even) p {
      position: absolute;
      font-size: 16px;
      margin: 0;
      right: 47%;
      top: 12%; }
    #projectsTop ul li:nth-child(even) h1 {
      position: absolute;
      font-family: "Kalam", cursive;
      color: #fff;
      font-size: 49px;
      margin: 0;
      right: 50%;
      top: 20%; }
    #projectsTop ul li:nth-child(even) h2 {
      position: absolute;
      color: #251730;
      font-size: 42px;
      left: 1%;
      bottom: 4%;
      margin: 0; }
    #projectsTop ul li:nth-child(even) img {
      width: 45vh;
      position: absolute;
      top: 5%;
      left: 55%; }
      #projectsTop ul li:nth-child(even) img:nth-child(odd) {
        width: 29vh;
        top: -8%;
        left: 70%; }

#projectList {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-row-gap: 0; }
  #projectList div {
    position: relative;
    line-height: 0; }
    #projectList div img {
      width: 100%; }
    #projectList div h2 {
      position: absolute;
      text-align: center;
      font-size: 2em;
      top: 25%;
      left: 30%;
      -webkit-transform: translate(-15%, -50%);
      -ms-transform: translate(-15%, -50%);
      transform: translate(-15%, -50%); }
    #projectList div p {
      position: absolute;
      color: rgba(0, 0, 0, 0.5);
      text-align: center !important;
      font-size: 1.4em;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

#moreText {
  text-align: center;
  padding: 50px;
  z-index: 2; }
  #moreText h1 {
    font-size: 2.2em;
    padding: 0;
    margin: 0;
    color: #da6e77; }
    #moreText h1:first-child {
      color: #fff; }
  #moreText p {
    padding-top: 40px;
    color: #fff; }
    #moreText p a {
      text-decoration: none;
      color: #da6e77;
      cursor: pointer; }
      #moreText p a i {
        padding-left: 7px;
        font-weight: 400; }

#contact .wrapper {
  background-size: 100%;
  background: #E6EBF1;
  padding: 13vw 14vw 1vw 13vw; }
  #contact .wrapper .sectionName {
    color: #4b3c70; }

#contact .title {
  color: #3e3e3e; }

#contact .desc {
  color: #3e3e3e; }

#contactContainer {
  margin-top: 5vw;
  margin-bottom: 90px;
  width: 50%; }

.contactLink {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .contactLink a {
    text-decoration: none;
    color: #da6e77; }
