%contactbtn {
    button {
        width: 140px;
        background-color: $dark;
        border: none;
        border-radius: 3em;
        font-family: $sans;
        color: #FFF;
        text-transform: uppercase;
        padding: 20px;
        text-align: center;
        display: inline-block;
        font-size: 1.3em;
        cursor: pointer;
        transition-duration: 0.2s;

        &:hover {
            font-weight: 600;

            span {
                display: inline-block;
                animation: 0.4s 3 spin;
                animation-timing-function: linear
            }
        }
    }
}