@import 'variables';
@import 'fixed';
@import 'buttons';

body {
    background-color: $pale;
    font-size: 1.1vw;
}

.wrapper {
    position: relative;
}

.sectionName {
    position: absolute;
    left: 7vw;
    transform: rotate(-10deg);
    font-family: $shadows;
    font-size: 2.3em;
    letter-spacing: 3px;
}

#about {

    .wrapper {
        // background: url(/Portfolio/img/Diamonds@3x.png) no-repeat top center, url(/Portfolio/img/Background@3x.png) no-repeat top;
        background: url(/Portfolio/img/Background@3x.png) no-repeat top;
        // background-size: 50%, 100%;
        background-size: 100%;
        z-index: 1;

        .sectionName {
            color: $robins;
            top: 120px;
        }
    }
}

.grid-about {

    display: grid;
    width: 70vw;
    margin: auto;
    grid-template-areas:
        'title title title avatar '
        'subtitle subtitle subtitle avatar'
        'description description description avatar'
        'feature feature feature avatar'
        'description2 description2 description2 avatar'
        'button button button avatar';
    padding: 13vw 0 15vw 0;
    grid-column-gap: 3.1em;

}

.avatar {
    grid-area: avatar;

    img {
        object-fit: cover;
        border-radius: 50%;
        width: 242px;
        height: 242px;
        transition: box-shadow 0.8s;

        &:hover {
            @include border(20pt);
        }
    }
}

.maintitle {
    @extend %title;
    font-size: 3.5em;
    width: 100%;
    grid-area: title;
}

.subtitle {
    grid-area: subtitle;
    margin-top: -1vh;
    @extend %laila;
}

.desc {
    grid-area: description;
    margin: 40px 20px 0px 0px;
    font-size: 1.15em;
    @extend %paragraph;
}

.desc2 {
    grid-area: description2;
    font-size: 1.15em;
    margin-left: 10px;
    @extend %paragraph;
}

.feature {
    grid-area: feature;
    display: block;
    @extend %laila;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            display: inline;
            list-style-type: none;
        }
    }

}

.contactbtn {
    grid-area: button;
    margin-left: 10px;
    @extend %contactbtn;
}

#projects {
    margin-top: -120px;
    .wrapper {
        background-size: 100%;
        padding-top: 40px;
        background: $dark;
    }

    .sectionName {
        top: 200px;
        color: $pink;
    }

    .desc {
        font-size: 1.4em;

        &:first-letter {
            color: $red;
            float: left;
            font-family: Georgia;
            font-size: 3em;
            line-height: 0.9em;
            padding-top: 4px;
            padding-right: 8px;
            padding-left: 3px;
        }
    }
}

.grid-projectsText {

    display: grid;
    width: 65%;
    margin: auto;
    grid-template-areas:
        'title skills'
        'description list';
    padding: 13vw 15vw 10vw 15vw;
    grid-column-gap: 8em;
    justify-content: space-between;
}

.skill {
    grid-area: skills;
    @extend %laila;
    font-size: 1.8em;
}

.skillList {
    grid-area: list;
    font-family: laila;
    font-size: 1.2em;
    font-weight: 600;
    color: #FFF;

    li {
        padding-bottom: 10px;
    }
}

#projectsTop {

    padding-bottom: 20px;

    ul {
        li {
            position: relative;
            height: 35vh;
            background-color: rgba(124, 115, 130, 0.51);
            margin-bottom: 10px;

            &:nth-child(odd) {
                p {
                    position: absolute;
                    font-family: $archivo;
                    color: #fff;
                    font-size: 16px;
                    margin: 0;
                    left: 42%;
                    top: 12%;
                }

                h1 {
                    position: absolute;
                    font-family: $kalam;
                    color: #fff;
                    font-size: 49px;
                    margin: 0;
                    left: 45%;
                    top: 20%;
                }

                h2 {
                    position: absolute;
                    font-family: $archivo;
                    color: $dark;
                    font-size: 42px;
                    right: 1%;
                    bottom: 4%;
                    margin: 0;
                }

                img {
                    width: 22%;
                    position: absolute;
                    top: 5%;
                    right: 60%;
                }
            }

            &:nth-child(3) {
                img {
                    width: 19%;
                    position: absolute;
                    top: -17%;
                    right: 57%;
                }
            }

            &:nth-child(even) {
                p {
                    position: absolute;
                    @extend %title;
                    font-size: 16px;
                    margin: 0;
                    right: 47%;
                    top: 12%;
                }

                h1 {
                    position: absolute;
                    font-family: $kalam;
                    color: #fff;
                    font-size: 49px;
                    margin: 0;
                    right: 50%;
                    top: 20%;
                }

                h2 {
                    position: absolute;
                    @extend %title;
                    color: $dark;
                    font-size: 42px;
                    left: 1%;
                    bottom: 4%;
                    margin: 0;
                }

                img {
                    width: 45vh;
                    position: absolute;
                    top: 5%;
                    left: 55%;

                    &:nth-child(odd) {
                        width: 29vh;
                        top: -8%;
                        left: 70%;
                    }
                }
            }
        }
    }
}

#projectList {
    display: grid;
    width: 100vw;
    grid-template-columns: auto auto auto;
    grid-row-gap: 0;

    div {
        position: relative;
        line-height: 0;

        img {
            width: 100%;
        }

        h2 {
            @extend %laila;
            position: absolute;
            text-align: center;
            font-size: 2em;
            top: 25%;
            left: 30%;
            transform: translate(-15%, -50%);
        }

        p {
            @extend %paragraph;
            position: absolute;
            color: rgba(0, 0, 0, 0.5);
            text-align: center !important;
            font-size: 1.4em;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#moreText {
    text-align: center;
    padding: 50px;
    z-index: 2;

    h1 {
        @extend %laila;
        font-size: 2.2em;
        padding: 0;
        margin: 0;
        color: $pink;

        &:first-child {
            color: #fff;
        }
    }

    p {
        @extend %laila;
        padding-top: 40px;
        color: #fff;

        a {
            text-decoration: none;
            color: $pink;
            cursor: pointer;

            i {
                padding-left: 7px;
                font-weight: 400;
            }
        }
    }
}

#contact {
    .wrapper {
        background-size: 100%;
        background: $pale;
        padding: 13vw 14vw 2vw 13vw;

        .sectionName {
            color: $dusk;

        }
    }
    .title{
        @extend %title;
        color: $grey;
    }

    .desc{
        color: $grey;
    }
}

.contactContainer{
    margin-top: 5vw;
    margin-bottom: 90px;
    width: 50%;
}

.contactLink{
    font-family: $sans;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;

    a{
        text-decoration: none;
    }
 }