@import 'variables';
@import 'fixed';

body{
    background-color: black;
}

#about {
    // background: url(/Portfolio/img/Diamonds@3x.png) no-repeat top center, url(/Portfolio/img/Background@3x.png) no-repeat top;
    background: url(/Portfolio/img/Background@3x.png) no-repeat top;
    // background-size: 50%, 100%;
    background-size: 100%;
    top: 0;
    pointer-events: none;

}

.wrapper{
    position: relative;
}

.sectionName {
    position: absolute;
    top: 80px;
    left: 170px;
    transform: rotate(-20deg);
    font-family: $shadows;
    font-size: 2.3em;
    letter-spacing: 3px;
}

.grid-container {

    display: grid;
    width: 65%;
    margin: auto;
    grid-template-areas:
        'title title title avatar '
        'subtitle subtitle subtitle avatar'
        'description description description avatar'
        'feature feature feature avatar'
        'description2 description2 description2 avatar'
        'button button button avatar';
    padding: 170px 10px;
    grid-column-gap: 3.1em;

}

.avatar {
    grid-area: avatar;

    img {
        object-fit: cover;
        border-radius: 50%;
        width: 262px;
        height: 262px;
        transition: box-shadow 0.8s;

        &:hover {
            @include border(20pt);
        }
    }
}

.maintitle {
    font-size: 3em;
    width: 100%;
    line-height: 1;
    font-family: $archivo;
    color: #FFF;
    grid-area: title;
}

.subtitle {
    grid-area: subtitle;
    text-align: left !important;
    font-size: 1.5em;
    margin-top: -1vh;
    @extend %laila;
}

.desc {
    grid-area: description;
    margin: 40px 20px 0px 0px;
    font-size: 1.15em;
    @extend %paragraph;
}

.d[esc2 {
    grid-area: description2;
    font-size: 1.15em;
    margin-left: 10px;
    @extend %paragraph;
}

.feature {
    grid-area: feature;
    display: block;
    font-size: 1.5em;
    @extend %laila;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            display: inline;
            list-style-type: none;
        }
    }

}

.contactbtn {
    grid-area: button;
    margin-left: 10px;

    button {
        width: 180px;
        background-color: $dark;
        border: none;
        border-radius: 3em;
        font-family: $sans;
        color: #FFF;
        text-transform: uppercase;
        padding: 20px;
        text-align: center;
        display: inline-block;
        font-size: 1.3em;
        cursor: pointer;
        transition-property: box-shadow;
        transition-duration: 0.2s;

        &:hover {
            -webkit-box-shadow:inset 0px 0px 0px 7px $pale;
            -moz-box-shadow:inset 0px 0px 0px 7px $pale;
            box-shadow:inset 0px 0px 0px 7px $pale;
            font-weight: 600;

            span {
                display: inline-block;
                animation: 0.4s 3 spin;
                animation-timing-function: linear
            }
        }
    }

}

